<!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">                    
                    
                    <ul class="left">
                      <li class="no-hover"><a href="#" data-activates="slide-out" class="menu-sidebar-collapse btn-floating btn-flat btn-medium waves-effect waves-light cyan hide-on-large-only"><i class="mdi-navigation-menu" ></i></a></li>
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/logo.png" alt="LSP Pemda"></a> <span class="logo-text">Standardisasi Kompetensi</span></h1></li>
                    </ul>
           
                    <ul class="right hide-on-med-and-down">                        
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- HORIZONTL NAV START-->
             <nav id="horizontal-nav" class="white hide-on-med-and-down">
                <div class="nav-wrapper">                  
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a href="index.shtml" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>Home</span>
                        </a>
                    </li> 
					<li>
                        <a href="index.shtml" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>ARTIKEL</span>
                        </a>
                    </li>
					<li>
                        <a href="index.shtml" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>Forum</span>
                        </a>
                    </li>
					<li>
                        <a href="index.shtml" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>Standar Kompetensi</span>
                        </a>
                    </li>
					<li>
                        <a href="index.shtml" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>Galleri</span>
                        </a>
                    </li>
					<li>
                        <a href="index.shtml" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>Target Nasional</span>
                        </a>
                    </li>
					<li>
                        <a href="index.shtml" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>FAQ</span>
                        </a>
                    </li>
					<li>
                        <a href="index.shtml" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>Kontak</span>
                        </a>
                    </li>
                    <!--li>
                        <a class="dropdown-menu cyan-text" href="#!" data-activates="submenu">
                            <i class="mdi-action-dashboard"></i>
                            <span>Menu<i class="mdi-navigation-arrow-drop-down right"></i></span>
                        </a>
                    </li-->
                    
                    
                  </ul>
                </div>
              </nav>

                <!-- sub menu -->
                <ul id="submenu" class="dropdown-content dropdown-horizontal-list">
                  <li><a href="css-typography.html" class="cyan-text">Sub Menu</a></li>
                </ul>

            <!-- HORIZONTL NAV END-->

        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->