<style type="text/css">
	.datagrid-row-over td{
		background:#D0E5F5;
	}
	.datagrid-row-selected td{
		background:#FBEC88;
		color:#000;
	}
</style>

<div id="div_{$tipe_grid}" style="width:102%">
	<div id='{$tipe_grid}'></div>
	<div id='toolbar_{$tipe_grid}' style='padding:5px;height:{$tinggi}'>
		
		{if $tipe_grid eq 'pembentukan_tim'}
			{include file='modul-why/template/button.html' id="tambah_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Tambah' class='icon-add'}
			{include file='modul-why/template/button.html' id="edit_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Edit' class='icon-edit'}
			{include file='modul-why/template/button.html' id="hapus_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Hapus' class='icon-cancel'}
		{/if}
		
		{if $tipe_grid eq 'rencana_perumusan'}
			{include file='modul-why/template/button.html' id="tambah_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Tambah' class='icon-add'}
			{include file='modul-why/template/button.html' id="edit_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Edit' class='icon-edit'}
			{include file='modul-why/template/button.html' id="hapus_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Hapus' class='icon-cancel'}
		{/if}
		
		{if $tipe_grid eq 'detail_peta_jabatan'}
			{if $tipologi eq 'DS' || $tipologi eq 'KEL' || $tipologi eq 'KEC' || $tipologi eq 'JFT' || $tipologi eq 'JFU'}
				{include file='modul-why/template/button.html' id="tambah_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Tambah' class='icon-add'}
			{/if}
			
			{include file='modul-why/template/button.html' id="kembali_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Kembali' class='icon-undo' float='right'}
		{/if}
        
        {if $tipe_grid eq 'manajemen_user_list'}
			{include file='modul-why/template/button.html' id="tambah_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Tambah' class='icon-add'}
			{include file='modul-why/template/button.html' id="edit_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Edit' class='icon-edit'}
			{include file='modul-why/template/button.html' id="hapus_{$tipe_grid}" gridnya={$tipe_grid} tipe='easyui-button' label='Hapus' class='icon-cancel'}
		{/if}
		
	</div>
</div>

<script>
	var tipe_grid = "{$tipe_grid}";
	
	if(tipe_grid == 'detail_peta_jabatan'){
		var breadcumb = "{$breadcumb|default:''}";
		var tipologi = "{$tipologi|default:''}";
		var jenis_bkl = "{$jenis_bkl|default:''}";
		var id_bkl = {$id_bkl|default:0};
		var kubil = {$id_bkl|default:0};
		var label = "{$label|default:''}";
	}
	
	$('#div_{$tipe_grid}').css('height',(getClientHeight()-230));
	genGrid2('{$tipe_grid}');
</script>