<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
                <i class="mdi-action-search active"></i>
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
  <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">URUSAN KONRUEN</h5>
                <ol class="breadcrumb">
                    <li><a href="#" onclick="loadUrl('{$host}bidang')">Urusan Konruen</a></li>
                    <li><a href="#">Sub Urusan Konruen</a></li>
                </ol>
          </div>
        </div>
  </div>
</div>
<!--breadcrumbs end-->

<!--start container-->
<div class="container">
    <div class="section">

    <!--Form Advance-->          
      <div class="row">
            <div class="col s12">
                <div class="card-panel">
					<div class="row">
						<form id="frm-bidang" method='post' url='{$host}submit-bidang' enctype="multipart/form-data" class="col s12">
							<input type='hidden' name='id' value="{$row.id|default:''}">
							<h4 class="header2">I. Urusan Konruen</h4>
							<div class="row">
								{include file='modul-why/template/input_text.html' ukuran='besar' name='nama_bidang' label="Nama Urusan" class="active" value={$row.nama_bidang|default:''}} 
							</div>
							<div class="row">
								{include file='modul-why/template/input_text.html' ukuran='besar' name='inisial' label="Inisial" class="active" value={$row.inisial|default:''}} 
							</div>
						</form>
						<div class="col s12 m8 l9" style='margin-top:40px;'>
							<button class="btn cyan waves-effect waves-light " onClick="javascript:void(0);sbmbyk('bidang');">Submit
								<i class="mdi-content-send right"></i>
							</button>
						</div>						
						
					</div>
				</div>
            </div>
            <div class="divider"></div>
            <div class="col s12">
				<div class="card-panel">
					<div class="row">
						{if isset($id_where)}{assign var="p1" value=$id_where}{else}{assign var="p1" value=""}{/if}
						{if isset($id_where2)}{assign var="p2" value=$id_where2}{else}{assign var="p2" value=""}{/if}
						{include file='modul-lv/template/grid.html' tipe_grid={$tipe} tinggi='55px'}
					</div>
				</div>
            </div>
      </div>						  

    </div>
</div>