<!DOCTYPE html>
<html lang="en">

<!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 2.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>Sistem Informasi Standarisasi Kompetensi</title>

  <!-- Favicons-->
  <link rel="icon" href="{$host}__assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="{$host}__assets/images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="{$host}__assets/images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  
  <link href="{$host}__assets/css/admin-style/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{$host}__assets/css/admin-style/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <link href="{$host}__assets/css/admin-style/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{$host}__assets/css/admin-style/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="{$host}__assets/css/admin-style/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{$host}__assets/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  
</head>

<body class="cyan">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->



  <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" id='id-login' method="post" action="{$host}loginadm">
        
		<div class="row">
          <div class="input-field col s12 center">
            {*<img src="{$host}__assets/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">*}
            <p class="center login-form-text">
			Sistem Informasi Standarisasi
			<br>
			Kementerian Dalam Negeri
			</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" name='username' type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" name='password' type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
           <button type="submit"  class="btn waves-effect waves-light col s12">Login</button>
          </div>
        </div>

      </form>
    </div>
  </div>



  <!-- ================================================
    Scripts
    ================================================ -->

  <!-- jQuery Library -->
  <script type="text/javascript" src="{$host}__assets/js/jquery-1.11.2.min.js"></script>
  <!--materialize js-->
  <script type="text/javascript" src="{$host}__assets/js/materialize.js"></script>
  <!--prism-->
  <script type="text/javascript" src="{$host}__assets/js/prism.js"></script>
  <!--scrollbar-->
  <script type="text/javascript" src="{$host}__assets/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <!--plugins.js - Some Specific JS codes for Plugin Settings-->
  <script type="text/javascript" src="{$host}__assets/js/plugins.js"></script>
  <script>
	
  </script>

</body>

</html>