<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="card-panel">
					<div class="row">
						<form method='post' url='{$host}' class="col s12">
							<h4 class="header2" >1. Atribut Tim Kerja</h4>
							<br/>
							<h4 class="header2">2. Anggota Tim Kerja</h4>
							
							<div id="responsive-table">
								<div class="row">
									<div class="col s12">
										<table class="responsive-table" style='width:98%;'>
										<thead>
											<tr>
												<th data-field="id" style='text-align:center !important;'>No</th>
												<th data-field="name" style='text-align:center !important;'>Nama</th>
												<th data-field="price" style='text-align:center !important;'>Jabatan di Lembaga</th>
												<th data-field="total" style='text-align:center !important;'>Jabatan di Tim</th>
												<th data-field="status" style='text-align:center !important;'>Action</th>
											</tr>
										</thead>
										<tbody id='oye'>
											<tr>
												<td>1</td>
												<td>
													<input name='nama[]' type='text' style='width:90%;'>
												</td>
												<td>
													<input name='jabatan[]' type='text' style='width:90%;'>
												</td>
												<td>
													<select name='jabatan_tim_kerja[]' id='jbtankerja_1' class="browser-default" style='width:90%;'>
														<option value=""> -- Choose -- </option>
													</select>
												</td>
												<td style='text-align:center !important;'>
													<a href="javascript:void(0);" title='Tambah Anggota' onClick="addrowtableinput('pembentukan_tim', 'oye', '1');" ><i class="mdi-content-add-box tiny"></i></a>
												</td>
											</tr>
										</tbody>
										</table>
									</div>
								</div>
							</div>
						</form>

					<div class="col s12 m8 l9" style='margin-top:40px;'>
						<button class="btn cyan waves-effect waves-light " >Submit
							<i class="mdi-content-send right"></i>
						</button>
						<button class="btn waves-effect waves-light " >Kembali
							<i class="mdi-content-reply left"></i>
						</button>
                    </div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var edi = "{$editstatus}";
	$('#kementerian').bind('change', function(){
		if(edi == 'add'){
			fillCmb(hostir+'why/modul_admin/getcombo/idx_dirjen', "dirjen", "", $(this).val() );
		}
	});
	
	fillCmb(hostir+'why/modul_admin/getcombo/idx_jabatan_tim_kerja', "jbtankerja_1" );
</script>