<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="card-panel">
					<div class="row">
						<form id="pembentukan_tim" method='post' url='{$host}submit-pembentukan-tim' enctype="multipart/form-data" class="col s12">
							<input type='hidden' name='editstatus' value='{$editstatus}'>
							<input type='hidden' name='id' value="{$data.id|default:''}">
							<h4 class="header2" >1. Atribut Tim Kerja</h4>
							<div class="row">
								{include file='modul-why/template/input_text.html' ukuran='besar' name='namatim' label="Nama Tim" class={$class|default:''} value={$data.nama|default:''}} 
							</div>
							
							<div class="row">
								{include file='modul-why/template/input_select.html' ukuran='sedang' name='kementerian' label="Kementerian / Lembaga" option={$idx_kl} }
								{include file='modul-why/template/input_select.html' ukuran='sedang' name='dirjen' label="Dirjen / Eselon 1" }
							</div>
							
							<div class="row">
								{include file='modul-why/template/input_select.html' ukuran='sedang' name='bidangfungsi' label="Urusan Pemerintahan" option={$idx_bidang} }
								{include file='modul-why/template/input_select.html' ukuran='sedang' name='kelompok' label="Kelompok" option={$idx_tim_kerja} }
							</div>
							<br/>
							<h4 class="header2">2. Anggota Tim Kerja</h4>
							
							<div id="responsive-table">
								<div class="row">
									<div class="col s12">
										<table class="responsive-table" style='width:98%;'>
										<thead>
											<tr>
												<th data-field="name" style='text-align:center !important;'>Nama</th>
												<th data-field="price" style='text-align:center !important;'>Jabatan di Lembaga</th>
												<th data-field="total" style='text-align:center !important;'>Jabatan di Tim</th>
												<th data-field="total" style='text-align:center !important;'>User Aplikasi</th>
												<th data-field="total" style='text-align:center !important;'>Email</th>
												<th data-field="status" style='text-align:center !important;'>Action</th>
											</tr>
										</thead>
										<tbody >
											{if $editstatus eq 'add'}
												<tr id='oye'>
													<td colspan='5'>
														&nbsp;
													</td>
												</tr>
												<tr>
													<td colspan='5'></td>
													<td id='btn_dsr' style='text-align:center !important;'>
														<a href="javascript:void(0);" title='Tambah Anggota' onClick="addrowtableinput('pembentukan_tim', 'oye', 'btn_dsr', 1);" ><i class="mdi-content-add-box tiny"></i></a>
													</td>
												</tr>
											{else}
												{assign var=ind value=1}
												{if $data_anggota}
													{foreach from=$data_anggota item=rows}
														{assign var=idnya value="oye_{$ind}"}
														<tr id='{$idnya}'>
															<input type='hidden' name='idx_tim' value="{$rows.id}">
															<td>
																<input name='nama[]' type='text' value="{$rows.nama|default:''}" style='width:90%;'>
															</td>
															<td>
																<input name='jabatan[]' type='text' value="{$rows.jabatan|default:''}" style='width:90%;'>
															</td>
															<td>
																<select name='jabatan_tim_kerja[]' id='jbtankerja_{$ind}' class="browser-default" style='width:90%;'>
																	{$combo_{$ind}|default:''}
																</select>
															</td>
															<td>
																<select name='isuser[]' id='isuser_1' class="browser-default" style='width:90%;'>
																	{$combo_isuser_{$ind}|default:''}
																</select>
															</td>													
															<td>
																<input name='email[]' value="{$rows.email|default:''}" type='text' style='width:90%;'>
															</td>
															<td style='text-align:center !important;'>
																<a href="javascript:void(0);" title='Hapus Anggota' onClick="deleterowtableinput('pembentukan_tim', '{$idnya}', '{$ind}', 'edit', '{$rows.id}');" ><i class="mdi-content-clear tiny"></i></a>	
															</td>
														</tr>
														{assign var=ind value=$ind+1}
													{/foreach}
												{/if}
													<tr id='oye'>
														<td colspan='5'>
															&nbsp;
														</td>
													</tr>
													<tr>
														<td colspan='5'></td>
														<td id='btn_dsr' style='text-align:center !important;'>
															<a href="javascript:void(0);" title='Tambah Anggota' onClick="addrowtableinput('pembentukan_tim', 'oye', 'btn_dsr', '{$ind}');" ><i class="mdi-content-add-box tiny"></i></a>
														</td>
													</tr>

											{/if}
											
										</tbody>
										</table>
									</div>
								</div>
							</div>
						</form>

					<div class="col s12 m8 l9" style='margin-top:40px;'>
						<button class="btn cyan waves-effect waves-light " onClick="javascript:void(0);sbmbyk('pembentukan_tim');">Submit
							<i class="mdi-content-send right"></i>
						</button>
						<button class="btn waves-effect waves-light " onClick="javascript:void(0);loadUrl('{$host}pembentukan-tim-kerja');">Kembali
							<i class="mdi-content-reply left"></i>
						</button>
                    </div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var edi = "{$editstatus}";
	
	$('#kementerian').bind('change', function(){
		fillCmb(hostir+'why/modul_admin/getcombo/idx_dirjen', "dirjen", "", $(this).val() );
	});
	
	if(edi == 'edit'){
		fillCmb(hostir+'why/modul_admin/getcombo/idx_dirjen', "dirjen", "{$data.idx_dirjen_id|default:''}", $('#kementerian').val() );
	}else if(edi == 'add'){
		fillCmb(hostir+'why/modul_admin/getcombo/idx_jabatan_tim_kerja', "jbtankerja_1" );
		fillCmb(hostir+'why/modul_admin/getcombo/ya_tidak', "isuser_1" );
	}
	
	
</script>