<!-- START CONTENT -->

<!--start container-->
<div class="container">
        <div class="section">

                <!--Form Advance-->          
                <div class="row">
                        <div class="col s12 m12 l12">
                          <div class="card-panel">
                                <div class="row">
                                  <form class="col s12" id="skema_sert_form">
                                      <input type="hidden" value="{$data.id}" name="id_skema_sert">
                                        <div class="row">
                                          <div class="input-field col s12">
                                                <select class="browser-default" style="width:100%;" name='bkl' id="bkl" onchange="loadUrl_adds('select_sub_bkl','{$host}select_sub_bkl', 'select_sub')">
                                                  <option value=""> Pilih Urusan Pemerintah</option>
                                                  {foreach from=$bkl item=row}
                                                  <option value="{$row.id}" {if $data.id_bkl eq $row.id}selected{/if}>{$row.nama}</option>
                                                  {/foreach}
                                                </select>
                                                <label class='active'>Urusan Pemerintah</label>
                                          </div> 
                                        </div>
                                        <div class="row">
                                          <div class="input-field col s12">
                                                <select class="browser-default" style="width:100%;" id="select_sub" name="sub_bkl">
                                                  <option value="" >Pilih Sub Urusan</option>
                                                  {foreach from=$sub_bkl item=row}
                                                    <option value="{$row.id}" {if $data.idx_sub_bkl_id eq $row.id}selected{/if}>{$row.nama}</option>
                                                  {/foreach}
                                                </select>
                                                <label class='active'>Sub Urusan</label>
                                          </div> 
                                        </div>
                                        <div class="row">
                                          <div class="input-field col s12">
                                                <textarea id="namaprogram" class="materialize-textarea" length="120" name="pekerjaan" >{$data.pekerjaan}</textarea>
                                                <label for="namaprogram" class='active'>Judul Skema Sertifikasi</label>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="input-field col s12 m6">
                                                <select class="browser-default" style="width:100%;" name="skema_sert" id="id_skema" onchange="loadUrl_adds('select_jabatan','{$host}select_jabatan', 'select_jab')">
                                                  <option value="">Pilih Skema Sertifikasi</option>
                                                  <option value="1" {if $data.idx_skema_id eq 1}selected{/if}>Klaster</option>
                                                  <option value="2" {if $data.idx_skema_id eq 2}selected{/if}>Jabatan</option>
                                                  <option value="3" {if $data.idx_skema_id eq 3}selected{/if}>KKNI</option>
                                                </select>
                                                <label class='active'>Skema</label>
                                          </div>

                                          <div class="input-field col s12 m6">
                                                <select class="browser-default" style="width:100%;" name="pangkat_jabatan" id='select_jab'>
                                                  <option value="" selected>Pilih Pangkat /Jenjang Jabatan</option>
                                                  {foreach from=$pangkat item=row}
                                                  <option value="{$row.id}" {if $data.idx_jenjang_kknipdn_id eq $row.id}selected{/if}>{$row.jenjang}</option>
                                                  {/foreach}
                                                </select>
                                                <label class='active'>Pangkat / Jenjang Jabatan</label>
                                          </div> 
                                        </div>

                                        <br/>
                                        <br/>
                                        <div id="responsive-table">
                                          <div class="row">
                                                <div class="col s12">
                                                <table class="responsive-table" style='width:100%'>
                                                  <thead>
                                                        <tr>
                                                                <th>Kode Unit Kompetensi</th>
                                                                <th>Judul</th>
                                                                <th>Action</th>
                                                        </tr>
                                                  </thead>
                                                        <tbody>
                                                        {foreach from=$unit_kompt item=row}
                                                            <tr id="unitrow_{$row.id}">
                                                                <td>{$row.kode_unit_kompetensi}</td>
                                                                <td>{$row.judul_unit}</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="deleterowtableinput_lv('del_unit_skesert', 'unit_row','','{$row.id}')">
                                                                    <i class="mdi-content-clear tiny"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {/foreach}    
                                                            <tr id="unit_row">
                                                              <td></td>
                                                              <td></td>
                                                              <td id="btn_add">
                                                                  <a href='javascript:void(0);' onclick="addrowtableinput_lv('add_skema_unit','unit_row','btn_add', '0', '{$data.idx_bkl_id}');"><i class='mdi-content-add-box tiny right'></i></a>
                                                              </td>
                                                            </tr>
                                                  </tbody>
                                                </table>
                                                </div>
                                          </div>
                                        </div>

                                        <br/>
                                        <br/>
                                        <div id="responsive-table">
                                          <div class="row">
                                                <div class="col s12">
                                                <table class="responsive-table" style='width:100%'>
                                                  <thead>
                                                        <tr>
                                                                <th>Prasyarat Dasar</th>
                                                                <th>Bukti </th>
                                                                <th width="10%">Action</th>
                                                        </tr>
                                                  </thead>
                                                        <tbody>
                                                        {foreach from=$syarat_dasar item=row}    
                                                            <tr id="dasarrow_{$row.id}">
                                                                <td>{$row.prasyarat_dasar}</td>
                                                                <td>{$row.bukti}</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="deleterowtableinput_lv('del_syarat_skesert', 'dasar_row','','{$row.id}')">
                                                                    <i class="mdi-content-clear tiny"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {/foreach}
                                                        <tr id="dasar_row">
                                                          <td></td>
                                                          <td></td>
                                                          <td id = "btn_add_dasar">
                                                                <a href='javascript:void(0);' onclick="addrowtableinput_lv('add_skema_dasar','dasar_row','btn_add_dasar', '0');"><i class='mdi-content-add-box tiny right'></i></a>
                                                          </td>
                                                        </tr>
                                                  </tbody>
                                                </table>
                                                </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="row">
                                                <div class="input-field col s12">
                                                    <a class="btn cyan waves-effect waves-light right" href="#" onclick="kumpulPost('update_skema_sert','tMain')">Submit
                                                        <i class="mdi-content-send right"></i>
                                                    </a>
                                                    <a class="btn waves-effect waves-light left" href="#" onclick="loadUrl('{$host}skema-sertifikasi')">Kembali
                                                        <i class="mdi-content-reply left"></i>
                                                    </a>
                                                </div>
                                          </div>
                                        </div>
                                  </form>
                                </div>
                          </div>
                        </div>
                </div>


        </div>
</div>