<style type="text/css">
	.datagrid-row-over td{
		background:#D0E5F5;
	}
	.datagrid-row-selected td{
		background:#FBEC88;
		color:#000;
	}
</style>


<div id="div_{$tipe_grid}" style="width:100%">
	<div id='{$tipe_grid}'></div>
	<div id='toolbar_{$tipe_grid}' style='padding:5px;height:{$tinggi}'>		
            <!--if $tipe_grid eq 'kementrian_grid' || $tipe_grid eq 'bidang_urusan' || $tipe_grid eq 'kel_kompetensi' ||
                $tipe_grid eq 'kompetensi_manajerial' || $tipe_grid eq 'kompetensi_kunci' || $tipe_grid eq 'bakat' || 
                $tipe_grid eq 'list_eselon' || $tipe_grid eq 'sub_bidang'
            
            -->
            {if $tipe_grid eq 'skema_sertifikasi' || $tipe_grid eq 'dasar_hukum'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('{$tipe_grid}','{$host}form-{$tipe_grid}','tMain', '' )">Tambah<i class="mdi-content-add right"></i></a>
            {/if}
			{if $tipe_grid eq 'bidang_lain'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-bidang-lain','{$host}sub-bidang-lain','tMain');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
			{if $tipe_grid eq 'sub_bidang_lain'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-subbidang-lain','{$host}sub-subbidang-lain','tMain', '{$p1}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
			{if $tipe_grid eq 'fungsional'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-sub-subbidang-lain','{$host}form-sub-subbidang-lain','tMain', '{$p1}', '{$p2}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
            
            {if $tipe_grid eq 'bidang_umum'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-bidang-umum','{$host}sub-bidang-umum','tMain');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
			{if $tipe_grid eq 'sub_bidang_umum'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-subbidang-umum','{$host}sub-subbidang-umum','tMain', '{$p1}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
            {if $tipe_grid eq 'fungsional_umum'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-sub-subbidang-umum','{$host}form-sub-subbidang-umum','tMain', '{$p1}', '{$p2}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
            
            {if $tipe_grid eq 'bidang_binwas'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-bidang-binwas','{$host}sub-bidang-binwas','tMain');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
			{if $tipe_grid eq 'sub_bidang_binwas'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-subbidang-binwas','{$host}sub-subbidang-binwas','tMain', '{$p1}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
            {if $tipe_grid eq 'fungsional_binwas'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-sub-subbidang-binwas','{$host}form-sub-subbidang-binwas','tMain', '{$p1}', '{$p2}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}

            {if $tipe_grid eq 'bidang_sekwan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-bidang-sekwan','{$host}sub-bidang-sekwan','tMain');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
			{if $tipe_grid eq 'sub_bidang_sekwan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-subbidang-sekwan','{$host}sub-subbidang-sekwan','tMain', '{$p1}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
            {if $tipe_grid eq 'fungsional_sekwan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-sub-subbidang-sekwan','{$host}form-sub-subbidang-sekwan','tMain', '{$p1}', '{$p2}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}		
            
            {if $tipe_grid eq 'bidang_kecamatan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-bidang-kecamatan','{$host}sub-bidang-kecamatan','tMain');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
			{if $tipe_grid eq 'sub_bidang_kecamatan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-subbidang-kecamatan','{$host}sub-subbidang-kecamatan','tMain', '{$p1}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
            {if $tipe_grid eq 'fungsional_kecamatan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-sub-subbidang-kecamatan','{$host}form-sub-subbidang-kecamatan','tMain', '{$p1}', '{$p2}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}	
            
            {if $tipe_grid eq 'bidang_kelurahan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-bidang-kelurahan','{$host}sub-bidang-kelurahan','tMain');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
			{if $tipe_grid eq 'sub_bidang_kelurahan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-subbidang-kelurahan','{$host}sub-subbidang-kelurahan','tMain', '{$p1}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}
            {if $tipe_grid eq 'fungsional_kelurahan'}
				<a href="#" class="btn waves-effect waves-light " onClick="loadUrl_adds('form-tambah-sub-subbidang-kelurahan','{$host}form-sub-subbidang-kelurahan','tMain', '{$p1}', '{$p2}');">Tambah<i class="mdi-content-add right"></i></a>
			{/if}		           
	</div>
</div>

<script>
	$('#div_{$tipe_grid}').css('height',(getClientHeight()-230));
	genGrid('{$tipe_grid}', '', '', '{$p1}', '{$p2}');
</script>