<!--#include FILE="modul/meta.html" -->

<body>
    <!--#include FILE="modul/loader.html" -->

    <!--#include FILE="modul/header.html" -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!--#include FILE="modul/menu.html" -->

            <!-- START CONTENT -->
            <section id="content">
			<!-- /////////////////// -->
			
			
			

			<!--start container-->
			<div class="container">
			  <div class="section">

			  
			  
				<p class="caption">"Mari Membangun Kompetensi Pemerintahan Dalam Negeri dengan Kompeten"</p>
				<div class="divider"></div>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				
				
				
			  </div>
			</div>
			<!--end container-->
			
			<!-- /////////////////// -->          
            </section>
            <!-- END CONTENT -->


        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->

	<!--#include FILE="modul/footer.html" -->
    
</body>

</html>