<!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">                    
                    
                    <ul class="left">                      
                      <li>
						<h1 class="logo-wrapper"><a href="#" class="brand-logo darken-1">
							<img src="{$host}__assets/images/logo.png" alt="materialize logo" width='200px' height='50px' ></a> 
							<span class="logo-text">Standardisasi Kompetensi</span>
						</h1>
						</li>
                    </ul>
           
                    <ul class="right hide-on-med-and-down">                        
                        <li>
							<a title='Logout Aplikasi' href="{$host}logoutadm"><i class="mdi-action-lock-outline"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->