<!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
				
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="{$host}__assets/images/avatsar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="http://localhost/sk3apdn/ref" target="blank"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">Nurdin Mak Bacah<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
					
                    <!--li class="bold"><a href="dashboard.shtml" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a></li-->
										
					<li class="li-hover"><div class="divider"></div></li>
					{*
					<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Standar Kompetensi</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="kknipdn.shtml">KKNIPDN</a></li>
                                        <li><a href="rencana.shtml">SK3APDN</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					
						<ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Persiapan Perumusan</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pembentukan-tim-kerja');">Pembentukan Tim</a></li>
                                        <li><a href="javascript:void(0);" onClick="loadUrl('{$host}rencana-perumusan');">Rencana Perumusan</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

					*}

					<li class="bold">
                        <a href="javascript:void(0);" class="waves-effect waves-cyan" onClick="loadUrl('{$host}pembentukan-tim-kerja');"><i class="mdi-action-dashboard"></i> Pembentukan Tim</a>						
                    </li>
					<li class="bold">
						<a href="javascript:void(0);" class="waves-effect waves-cyan" onClick="loadUrl('{$host}rencana-perumusan');"><i class="mdi-action-dashboard"></i> Rencana Perumusan</a>
					</li>
					{*
					<li class="bold">
						<a href="javascript:void(0);" class="waves-effect waves-cyan" onClick="loadUrl('{$host}pemetaan-fungsi');" ><i class="mdi-action-dashboard"></i> Pemetaan Fungsi</a>
					</li>
                                        *}
                                        <li class="no-padding">
                                            <ul class="collapsible collapsible-accordion">
                                                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Pemetaan Fungsi</a>
                                                    <div class="collapsible-body">
                                                        <ul>
                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-UK');" >Urusan Konkuren</a></li>
                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-UP');" >Penunjang Urusan</a></li>
                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-UU');" >Urusan Umum</a></li>
                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-UB');" >Urusan Binwas</a></li>
                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-US');" >Urusan Sekwan</a></li>
                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-UC');" >Urusan Kecamatan</a></li>
                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-UH');" >Urusan Kelurahan</a></li>
<!--                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-UL');">Urusan Lain</a></li>
                                                            <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi-JFU');">JFT</a></li>-->
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
					{*
                    <li class="bold">
						<a href="javascript:void(0);" class="waves-effect waves-cyan" onClick="loadUrl('{$host}peta-jabatan')"><i class="mdi-action-dashboard"></i> Peta Jabatan</a>
					</li>
                    *}
					<li class="bold">
						<a href="#" class="waves-effect waves-cyan" onclick="loadUrl('{$host}skema-sertifikasi')"><i class="mdi-action-dashboard"></i> Skema Sertifikasi</a>
					</li>
					
					
					{*
					<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Perumusan</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="javascript:void(0);" onClick="loadUrl('{$host}pemetaan-fungsi');" >Pemetaan Fungsi</a></li>
                                        <li><a href="javascript:void(0);" onClick="loadUrl('{$host}peta-jabatan')">Peta Jabatan</a></li>
                                        <li><a href="#" onclick="loadUrl('{$host}skema-sertifikasi')">Skema Sertifikasi</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					
					<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Verifikasi</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href=".shtml">Ceklis Verifikasi</a></li>
                                        <li><a href=".shtml">LKS</a></li>
                                        <li><a href=".shtml">Revisi</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					
					<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Pra Konvensi</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href=".shtml">Daftar Hadir</a></li>
                                        <li><a href=".shtml">Risalah</a></li>
                                        <li><a href=".shtml">Konsensus</a></li>
                                        <li><a href=".shtml">Revisi</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					
					<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Konvensi</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" onclick='loadUrl_adds("sub-bidang","{$host}sub-bidang","tMain","1")'>Daftar Hadir</a></li>
                                        <li><a href=".shtml">Finalisasi</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					*}
					
					<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-image-grid-on"></i> Master Data</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" onClick="loadUrl('{$host}bidang')">Urusan Konruen</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}bidang-lain')">Penunjang Urusan</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}bidang-umum')">Urusan Umum</a></li> 
                                        <li><a href="#" onClick="loadUrl('{$host}bidang-binwas')">Urusan Binwas</a></li> 
                                        <li><a href="#" onClick="loadUrl('{$host}bidang-sekwan')">Urusan Sekwan</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}bidang-kecamatan')">Urusan Kecamatan</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}bidang-kelurahan')">Urusan Kelurahan</a></li>
                                                                                                                      
                                        <li><a href="#" onClick="loadUrl('{$host}kementrian-grid')">Kementrian & Lembaga</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}kel-kompetensi')">Kelompok Kompetensi</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}kompetensi-manajerial')">Kompetensi Managerial</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}kompetensi-pemerintahan')" style="font-size:12px">Kompetensi Pemerintahan</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}kompetensi-kunci')">Kompetensi Kunci</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}bakat')">Bakat</a></li>
                                        <li><a href="#" onClick="loadUrl('{$host}dasar-hukum')">Dasar Hukum</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					
					<li class="li-hover"><div class="divider"></div></li>
					
					{*
					<li class="bold"><a href=".shtml" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Forum</a></li>
					
					<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Galeri</a>
                                <div class="collapsible-body">
                                    <ul>
										<li><a href=".shtml">Kategori</a></li>
                                        <li><a href=".shtml">Foto</a></li>
                                        <li><a href=".shtml">Video</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					
					<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Artikel</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href=".shtml">Kategori</a></li>
                                        <li><a href=".shtml">Tulisan</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					
					
					<li class="bold"><a href=".shtml" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> FAQ</a></li>
					<li class="bold"><a href=".shtml" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Kontak</a></li> 
					*}
					</br>
					</br>
					</br>
					</br>
					</br>
					</br>
						
                </ul>
				
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->

            <!-- //////////////////////////////////////////////////////////////////////////// -->